<ion-view view-title="Search">
  <ion-content>
  <div align="justify">
		<p>திரு. <a href="#" onclick="window.open('http://win.tamilnool.net/', '_system', 'location=yes'); return false;">பொள்ளாச்சி நேசன்</a> அவர்கள் தமிழ் கற்பிக்க ஒரு எளிய முறையை உருவாக்கியுள்ளார்.</p>
		<p>
		அவர் கூற்றுப்படி,
		</p>
		<p>
		“மாணவர்கள் எந்த அகவையினராக இருந்தாலும் சரி, தமிழ் கற்றுக் கொண்டதில் எந்த நிலையினராக இருந்தாலும் சரி, ஒரு நாளைக்கு அரை மணி நேரம் மட்டும் படிப்பதற்காக ஒதுக்கினால், 30 நாள்களில் யாரை வேண்டுமானாலும் தமிழ்ச் செய்தித்தாளைப் படிக்கக்கூடியவராக, மாற்ற முடியும்.”
		</p>
		<p>
		இங்கிலாந்தில் உள்ள நியூகாசில் கல்விக் கழகத்தினர்,  <a href="#" onclick="window.open('http://newcastletamilacademy.uk', '_system', 'location=yes'); return false;">http://newcastletamilacademy.uk</a>
		இந்த முறையைப் பின்பற்றி, மாணவர்களுக்கு தமிழ் கற்பித்து வருகின்றனர்.
		பாரம்பரிய முறையைவிட, இந்த புதிய கல்விமுறை, மாணவர்களுக்கு எளிதாகவும், ஆர்வமூட்டும் வகையிலும் உள்ளதை ஆமோதிக்கின்றனர்.
		</p>
		<p>
		இம்முறையின் சிறப்புகளை இங்கே காண்க.
		 <a href="#" onclick="window.open('http://win.tamilnool.net/sound/sutty.pdf', '_system', 'location=yes'); return false;">http://win.tamilnool.net/sound/sutty.pdf</a>
		</p> 
        <p>
		32 அட்டைகள் மூலம் மிகமிக எளிய முறையில் தமிழ் கற்பிக்கும் முயற்சி இது.
		</p>
		<p>
		இந்த 32 அட்டை/பாடங்களை இங்கே பெறலாம்.
		 <a href="#" onclick="window.open('http://www.thamizham.net/kal/ttenglish/cards32-u8.htm', '_system', 'location=yes'); return false;">http://www.thamizham.net/kal/ttenglish/cards32-u8.htm</a>
		</p>
		<p>
		இவற்றை இணைய வழியில் ஒலிக்குறிகப்புகளோடும், எழுதும் முறையோடும் இங்கே கற்கலாம்.
		 <a href="#" onclick="window.open('http://www.thamizham.net/kal/ttenglish/index-u8.htm', '_system', 'location=yes'); return false;">http://www.thamizham.net/kal/ttenglish/index-u8.htm</a>
		 <a href="#" onclick="window.open('http://win.tamilnool.net/sound/uuu/uuu.htm', '_system', 'location=yes'); return false;">http://win.tamilnool.net/sound/uuu/uuu.htm</a>
		</p>
		<p>
		தமிழை அடுத்த தலைழுறைக்கு எடுத்துச் செல்ல, நம்மால் ஆன முயற்சிகளைச் செய்வோமே!
		</p>
		<p>
		மிக்க நன்றி
		</p>
		<p>
			தொடர்புக்கு  <a href="#" onclick="window.open('mailto:tshrinivasan@gmail.com', '_system', 'location=yes'); return false;">tshrinivasan@gmail.com</a>
		</p>
	</div>
  </ion-content>
</ion-view>
